<h1> Dice Roll </h1>
<ul>
  <a href="/dice/2/6"><li> Roll two 6-sided dice</li></a>
  <a href="/dice/2/10"><li> Roll two 10-sided dice</li>
  <a href="/dice/1/20"><li> Roll one 20-sided dice</li>
  <a href="/dice/5/4"><li> Roll five 4-sided dice</li>
</ul>
